.login-form__textarea {
  width: 100%;
  transition: height 1000ms !important;
  border: none;
  resize: none;
}

:has(.input-box__input.login-form__textarea.active) .login-form__textarea {
  height: 8rem;
  padding: 1rem;
  transform: translateY(1.2rem);
  transition: height 600ms;
}

.login-form__textarea-box .input-box__placeholder {
  transform: translateY(50%);
}

:has(.input-box__input.login-form__textarea.active).login-form__textarea-box
  .input-box__shape {
  height: 8rem;
}

.main__contact-us .container {
  height: 100%;
  display: flex;
  flex-flow: column;
  align-items: flex-start;
  justify-content: space-between;
}

.main__contact-us__logo-text {
  font-size: 5rem;
}

.main__contact-us__title {
  cursor: default;
  user-select: none;
  font-size: 6rem;
  color: var(--white-color);
}

.main__contact-us__email-link {
  color: var(--white-color);
  font-size: 2rem;
}

.main__contact-us__email-link:hover {
  color: var(--text-main-header-color);
}

@media only screen and (max-width: 1180px) {
  .main__contact-us__title {
    font-size: 5rem;
  }
}

@media only screen and (max-width: 980px) {
  .main__contact-us__title {
    font-size: 4rem;
  }
}

@media only screen and (max-width: 767px) {
  .main__contact-us .container {
    align-items: center;
    text-align: center;
    gap: 2rem;
  }
}
