::-webkit-scrollbar {
  width: 0.5rem;
}

::-webkit-scrollbar-thumb {
  background: var(--primary-color);
}

.login-form__input-title {
  font-size: 3rem;
  font-weight: 600;
  color: var(--text-main-header-color);
}

.hpc__part-section {
  padding: 2rem 1.5rem;
  border-radius: 1rem;
  background-color: var(--box-color);
}

.hpc__custom-scroll ::-webkit-scrollbar-track {
  background-color: #f5f5f5;
}

.hpc__custom-scroll ::-webkit-scrollbar {
  height: 1rem;
  background-color: #f5f5f5;
}

.hpc__custom-scroll ::-webkit-scrollbar-thumb {
  background-color: var(--primary-color);
}

.panel-home__title {
  font-size: 3rem;
  font-weight: 700;
  color: var(--primary-color);
}

.btn-group > .btn {
  font-weight: bold;
  font-size: 1.5rem;
  color: var(--text-main-header-color);
  border-color: var(--primary-color);
}

.btn-group > .btn:hover {
  color: var(--text-main-header-color) !important;
  border-color: var(--primary-color) !important;
}

.btn-check:checked + .btn {
  color: var(--dark-color);
  background-color: var(--primary-color);
  border-color: var(--primary-color);
}

.table {
  border-radius: 1rem;
  background-color: var(--dark-color);
}

.table tr {
  font-weight: bold;
  color: var(--primary-color);
  border-bottom: 0.2rem solid var(--box-color);
}

.table > :not(caption) > * > * {
  padding: 1rem 1.5rem;
  white-space: nowrap;
}

.table td {
  cursor: pointer;
  font-family: var(--seccend-font);
  color: var(--white-color);
  position: relative;
}

:has(.copy-active) td::after {
  content: "کپی کنید";
  visibility: hidden;
  width: 10rem;
  background-color: var(--primary-color);
  color: var(--dark-color);
  text-align: center;
  border-radius: 1rem;
  padding: 1rem 0.5rem;
  position: absolute;
  /* top: 50%;
  left: 50%;
  transform: translate(-50%, -125%); */
  top: 50%;
  right: 50%;
  transform: translate(150%, -50%);
  z-index: 1;
  opacity: 0;
  transition: opacity 0.3s;
}

:has(.copy-active) td:not(td.no-copy):hover::after {
  visibility: visible;
  opacity: 1;
}

@media only screen and (max-width: 975px) {
  .main-header__course-menu,
  .main-header__dropdown,
  .main-header__search-wrapper {
    display: unset !important;
  }
}
